/* Add application styles & imports to this file! */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: blanchedalmond !important;
}

my-app {
  margin: 0px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
}

mat-toolbar a:hover {
  color: #ddd;
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  my-app {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/*
app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-color: orange;
  border-width: 2px;
  border-style: solid;
}
*/

#main {
  height: 100%;
}

button {
  min-height: 30px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.menu-bar {
  min-height: 31px;
}

#routercontent {
  min-height: 60vh;
  margin: 10px;
  margin-bottom: 40px;
  /* background-color: white; */
}

.mat-toolbar-row {
  background-color: #f18a01;
}

/* .mat-sidenav {
  background-color: blanchedalmond;
} */
